@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

@keyframes gallery-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 13px));
  }
}

@keyframes gallery-up {
  from {
    transform: translateY(calc(-50% - 13px));
  }
  to {
    transform: translateY(0);
  }
}

.animate-gallery-down {
  animation-name: gallery-down;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-gallery-up {
  animation-name: gallery-up;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
